# Obsidian trash folder
.trash/

# Ignore all hidden (invisible) files and folders in script sub-directories
Linux/Script/RClone/.*
Linux/Script/RClone/**/.*
Linux/Script/Varia/.*
Linux/Script/Varia/**/.*
